version: 2
jobs:
  build:
    docker:
      - image: circleci/php
    steps:
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Prepare environment
          command: sudo apt-get update && sudo apt-get -y install jq
      - run:
          name: GET CloudFormation template
          #command: wget https://raw.githubusercontent.com/minepicco/prisma_ci_sample/master/0_high_alert.template -O demo.template
          command: wget https://raw.githubusercontent.com/minepicco/prisma_ci_sample/master/1_high_alert.template -O demo.template
      - run:
          name: GET audit result
          command: result=`curl --data-binary @demo.template -X POST https://scanapi.redlock.io/v1/iac | jq .result.severity_stats.high` && echo $result && if [ $result -gt 0 ]; then echo "You have "$result" high alert(s)."&& curl --data-binary @demo.template -X POST https://scanapi.redlock.io/v1/iac | jq  '.result.rules_matched[] | select(.severity == "high")| .name' && exit 1; else echo "No high alert was detected"; fi;
